.sidebar {
    background-color: #f8f9fa;
    height: 100vh;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}
.sidebar .nav-link {
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    text-align: left;
}
.sidebar .nav-link:hover {
    background-color: #ddd;
    color: #000;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: #fff;
}
@media (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
        width: 100%;
        border-right: none;
    }
    .container-fluid {
        margin-left: 0;
    }
}
.sidebar-footer {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    text-align: left;
}

.sidebar-footer a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.sidebar-footer a:hover {
    color: #007bff;
}
